
h1{
    color: #333;
    text-align: center;
    margin: 20px;
}
h2{
    color: #333;
    text-align: center;
    margin: 20px;
}
body{
    width: 60% ;
    height: 70%;
    margin: 0 auto;
    background-color: #79d3ec;
}

.btn{
    margin-top: 15px;
} 

#etiquetaValorPesos.input-group-text {
    font-size: 15px;
    width: 100%;
    margin-bottom: 5px;
}

main {
    padding: 5px;
    border-radius: 5px;
    box-shadow: 0 2px 5px black;
    background-color: #25A3C5;
    
}

@media screen and (max-width:350px){
    h2{
        font-size: 15px;
    }
    body{
        width: 90%;
       
    }
}